@use 'bootstrap/scss/bootstrap';

.img_home {
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/gettyimages-915795854-1591214427.jpg?crop=1xw:0.8453434844192634xh;center,top');
    background-size: cover;
    background-position: 0 83%;
    width: 100%;
    min-height: 650px;
}

.demo {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(202, 158, 42, 0.84);
    box-shadow: 0px 0px 20px 0px rgba(202, 158, 42, 0.84);
    border: rgba(202, 158, 42, 0.84) !important;
    cursor: pointer;
}

.cocktail_card:hover {
    scale: 1.1;
}

.btn_card {
    background-color: rgba(202, 158, 42, 0.84);
}