@use 'bootstrap/scss/bootstrap';

.img_home {
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/gettyimages-915795854-1591214427.jpg?crop=1xw:0.8453434844192634xh;center,top');
    background-size: cover;
    background-position: 0 83%;
    width: 100%;
    min-height: 650px;
}

.demo {
    cursor: pointer;
}

.cocktail_card:hover {
    -webkit-box-shadow: 0px 0px 20px 0px darkorange;
    border: darkorange !important;
    scale: 1.1;
    box-shadow: 0px 0px 20px 0px darkorange;
    transition: 0.5s;
}

.btn_card {
    background-color: rgba(255, 136, 32, 0);
    border: 1px solid darkorange;
    color: white;
}

.btn_card:hover {
    background-color: darkorange;
    transition: 0.5s;
}